/* 홈 페이지의 기본 레이아웃 */
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #111;  /* 어두운 배경 */
  color: white;
  max-width: 100%;  /* 화면 크기에 맞게 최대 크기 설정 */
  box-sizing: border-box;
}

/* 영화 목록 스타일 */
.movie-list {
  display: flex;                  /* 가로로 배치 */
  gap: 20px;                      /* 항목 간 간격 */
  width: 100%;
  margin-top: 30px;
  margin-bottom: 50px;
  padding: 0 0px;
  overflow-x: auto;               /* 스크롤바는 보이지 않음 */
  overflow-y: hidden;
  scroll-behavior: smooth;
  position: relative;             /* 화살표 버튼의 위치를 잡기 위해 */
  scroll-snap-type: x mandatory;
  -ms-overflow-style: none;       /* IE 및 Edge에서 스크롤바 숨기기 */
  scrollbar-width: none;          /* Firefox에서 스크롤바 숨기기 */
}

/* 스크롤이 숨겨진 상태에서 화살표 버튼 */
.arrow-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.3s ease;
  font-size: 20px;
  width: 40px;  /* 버튼 크기 */
  height: 40px; /* 버튼 크기 */
}

/* 화살표 버튼의 호버 효과 */
.movie-list:hover .arrow-button {
  opacity: 1;
}

.arrow-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* 왼쪽 화살표 */
.arrow-left {
  left: 10px;  /* 왼쪽 버튼 위치 */
}

/* 오른쪽 화살표 */
.arrow-right {
  right: 10px;  /* 오른쪽 버튼 위치 */
}

/* 영화 항목 카드 */
.movie-item {
  background-color: #222;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  flex: 0 0 auto;                 /* 항목이 가로로만 배치되도록 */
  width: 200px;                   /* 각 영화 카드의 너비 */
  max-width: 100%;
}

/* 카드 hover 효과 */
.movie-item:hover {
  transform: scale(1.05);
}

/* 영화 포스터 */
.movie-poster {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-bottom: 3px solid #333;
}

/* 영화 제목 */
.movie-title {
  font-size: 18px;
  font-weight: bold;
  margin: 8px 10px 10px;
  color: #ffcc00; /* 제목에 노란색 포인트 */
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* 영화 설명 */
.movie-description {
  font-size: 1.1em;
  color: #ccc;
  height: 50px;
  overflow: hidden;
  margin: 8px 10px 10px;
}

/* 영화 메타 정보(평점, 개봉일 등) */
.movie-meta {
  left: 20px;
  margin: 5%;
  font-size: 0.9em;
  color: #bbb;
}

/* 영화 평점 */
.movie-rating {
  font-weight: bold;
  color: #f4a300;  /* 평점에 노란색 */
}

/* 영화 개봉일 */
.movie-release-date {
  color: #f4f4f4;
  font-style: italic;
}
