/* /styles/MovieFilter.module.css */

.movieFilter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    margin-bottom: 30px;
    width: 100%;
  }
  
  .dropdown {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    width: 180px;
  }
  
  .dropdown label {
    font-size: 16px;
    color: #fff;
    margin-bottom: 8px;
  }
  
  .dropdown select {
    padding: 8px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #333;
  }
  
  .resetButton {
    background-color: #ff5722;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .resetButton:hover {
    background-color: #e64a19;
  }
  