/* /styles/MovieFilter.module.css */

.movieFilter {
    display: flex;
    justify-content: flex-start; /* 왼쪽 정렬 */
    align-items: center;
    padding: 20px 0;
    margin-bottom: 30px;
    width: 100%;
    flex-wrap: wrap; /* 공간에 맞게 줄바꿈 가능 */
  }
  
  .dropdown {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    width: 200px;
  }
  
  .dropdown label {
    font-size: 16px;
    color: #fff;
    margin-bottom: 8px;
  }
  
  .dropdown select {
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #fff; /* 흰색 테두리 */
    background-color: #000; /* 검정색 배경 */
    color: #fff; /* 흰색 글씨 */
    text-align: left; /* 왼쪽 정렬 */
    width: 100%;
    position: relative;
    appearance: none; /* 기본 드롭다운 화살표 숨기기 */
  }
  
  .dropdown select::-ms-expand {
    display: none; /* IE에서 기본 드롭다운 화살표 숨기기 */
  }
  
  /* 드롭다운 화살표 */
  .dropdown select::after {
    content: '';
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 6px solid white; /* 삼각형 모양 */
    pointer-events: none; /* 화살표 클릭 방지 */
  }
  
  .resetButton {
    background-color: #e50914; /* 빨간색 배경 */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .resetButton:hover {
    background-color: #f40612; /* 버튼 hover 색상 */
  }
  